<form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">
  <input type="hidden" name="form_type" value="customer" />
  <input type="hidden" name="utf8" value="✓" />
  <input type="email" name="contact[email]" placeholder="Your email" required>
  <button type="submit">Subscribe</button>
</form>