<section class="home-email">
  <div class="email-container">

    <div class="email-title-container">
      <h2 class="email-header">{{ section.settings.header_title }}</h2>
    </div>

    <div class="email-content-container">
      <p>{{ section.settings.sub_text }}</p>

      <!-- Display Error or Success Messages -->
      {% if form.errors %}
        <p class="form-error">There was an error with your submission. Please try again.</p>
      {% elsif form.posted_successfully? %}
        <p class="form-success">Thank you for subscribing!</p>
      {% endif %}

      <!-- Standard HTML Form for Newsletter -->
      <form method="post" action="/contact" id="newsletterForm" accept-charset="UTF-8" class="newsletter-form">
        <input type="hidden" name="form_type" value="customer">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="email" name="contact[email]" placeholder="Email Address" required class="email-input">
        <button type="submit" class="email-submit-button">{{ section.settings.button_text }}</button>
        <div id="form-message"></div> <!-- Placeholder for success/error message -->
      </form>

    </div>
  </div>
</section>



{% schema %}
{
  "name": "Email Sub Section",
  "settings": [
    {
      "type": "text",
      "id": "header_title",
      "label": "Header Title",
      "default": "Be the First to Know"
    },
    {
      "type": "text",
      "id": "sub_text",
      "label": "Subheader Text",
      "default": "Be the first to know when we launch."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Join Now"
    }
  ],
  "presets": [
    {
      "name": "Email Sub Section",
      "category": "Custom",
      "settings": {
        "header_title": "Be the First to Know",
        "sub_text": "Be the first to know when we launch.",
        "button_text": "Join Now"
      }
    }
  ]
}
{% endschema %}

