<div class="page-width page-terms">
  <div class="section-header text-center">
    <h1 class="temp__title">{{ page.title }}</h1>
  </div>

  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page Terms",
  "settings": []
}
{% endschema %}


{% stylesheet %}

.temp__title {
  margin-top: 40px;
  font-size: 40px;
  line-height: 1.1em;
  font-weight: 800;
  text-transform: uppercase;
}

body
 {
  font-size: 16px;
  font-family: "Fustat";
  color: #1a1a1a;
}

.terms-content {
  margin-top: 2em;
  /* Fix for long URLs */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.terms-content a {
  word-break: break-word;
}


{% endstylesheet %}