<style>

.splash-pw {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: #1A1A1A;
  padding: 120px 40px 0;
  box-sizing: border-box;

}
</style>

<section class="pw">
  {% form 'storefront_password' %}
  <input type="password" name="password" placeholder="Enter Password">
  <button type="submit">Enter</button>
{% endform %}
</section>


