{% if shop.password_enabled %}
  <form method="post" action="/password">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Enter</button>
  </form>
{% endif %}

  {% if shop.password_enabled %}
  <form method="post" action="/password" style="display: block !important; visibility: visible !important;">
    <input type="password" name="password" placeholder="Enter Password" style="display: block; visibility: visible;">
    <button type="submit" style="display: inline-block; visibility: visible;">Enter</button>
  </form>
{% endif %}