<style>

.splash-pw {
  display: flex;
  justify-content: center;
  background: #1A1A1A;
}

.splash-pw-input {
  
}

.splash-pw-button {
  background: #F7CE48;
}
  
</style>

<section class="splash-pw">
  {% form 'storefront_password' %}
  <input type="password" name="password" placeholder="Enter Password" class="splash-pw-input">
  <button type="submit" class="splash-pw-button">Enter</button>
{% endform %}
</section>


