<style>

/* Centered Header and Image Section */
.trip-product-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 40px 0;

}

.trip-product-section-header {
  font-size: 34px;
  line-height: 1.1em;
  font-weight: 700;
  margin-bottom: 0px;
}

.trip-product-section-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px; /* Optional for rounded corners */
}

@media (max-width: 768px) {

.trip-product-section {
  padding: 80px 20px 0;

}

}

</style>



<section class="trip-product-section">
  <h2 class="trip-product-section-header">LAUNCHING IN FALL 2024</h2>
  <img src="https://cdn.shopify.com/s/files/1/0598/7201/8567/files/trip-product.png?v=1727198780" width="" height="" alt="Sample Image" class="trip-product-section-img">
</section>