<style>
.custom-mission-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCF7EA;
  box-sizing: border-box;
}

.mission-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100%;
  padding: 160px 0px 150px;
  max-width: 1280px;
}

.mission-title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.mission-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mission-content-container p {
  max-width: 480px;
  margin: 0;
}

.mission-header {
  font-size: 34px;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
  padding-left: 40px;
  font-weight: 800;
}

@media (max-width: 768px) {
  .mission-container {
    grid-template-columns: 1fr;
    padding: 100px 20px;
  }

  .mission-header {
    padding-left: 0;
    text-align: left;
    margin-bottom: 30px;
  }

  .mission-content-container {
    align-items: flex-start;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .mission-container {
    padding: 80px 20px;
  }

  .mission-header {
    font-size: 28px;
    text-align: left;
    margin-bottom: 24px;
  }

  .mission-content-container {
    align-items: flex-start;
    text-align: left;
  }

  .mission-content-container p {
    max-width: 100%;
  }
}


</style>


<section class="custom-mission-section">
  <div class="mission-container">

    <!-- Left Column (Image) -->
    <div class="mission-title-container">
      <h2 class="mission-header">What We're<br> About</h2>
    </div>

    <!-- Right Column (Header and Button) -->
    <div class="mission-content-container">
      <p>For all of life's setbacks, struggles and strife, seek help elsewhere. But if you're looking for a quality fuel to drive you through another tough day, look no further. Misery & Mayhem's protein oatmeal can't fix your life, but at least you won't have to go through it hungry.</p>
      {% comment %} <p></p> {% endcomment %}
    </div>

  </div>
</section>