
<style>

.splash-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: #1A1A1A;
  padding: 120px 40px 0;
  box-sizing: border-box;

}

.footer-image {
  width: 100%;
  height: auto;
  max-width: 1200px;
}

.copyright {
  color: #F7CE48;
  font-size: 12px;
  text-align: center;
  padding-top: 120px;
  text-transform: uppercase;
}

</style>


<section class="splash-footer">
  <div class="footer-container">
    <img src="https://cdn.shopify.com/s/files/1/0598/7201/8567/files/footer-logo.png?v=1727143751" width="1200" height="267" alt="Misery & Mayhem" class="footer-image">
    <div class="copyright">&copy;2024 Misery and Mayhem</div>
  </div>
</section>