

/* @font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-Regular.woff2" | asset_url }}') format("woff2"),
    url('{{ "Fustat-Regular.woff" | asset_url }}') format("woff"),
    url('{{ "Fustat-VariableFont_wght.ttf" | asset_url }}') format("truetype");
  font-weight: normal;
  font-style: normal;
} */

.visually-hidden,
.shopify-section-group-header-group,
#shopify-section-sections--16485178245255__announcement-bar,
.header,
.footer {
  display: none !important;
}

@font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-Light.ttf" | asset_url }}') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-Regular.woff2" | asset_url }}') format("woff2"),
    url('{{ "Fustat-Regular.woff" | asset_url }}') format("woff"),
    url('{{ "Fustat-VariableFont_wght.ttf" | asset_url }}') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-SemiBold.ttf" | asset_url }}') format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-Bold.ttf" | asset_url }}') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-ExtraBold.ttf" | asset_url }}') format("truetype");
  font-weight: 800;
  font-style: normal;
}


  body {
    margin: 0;
    padding: 0;
    font-family: 'Fustat',Arial, Helvetica, sans-serif;
    /* font-family: 'Fustat'; */
    font-weight: 400;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 26px;
    background-color:  #FCF7EA;
    color: #1A1A1A;
  }


