/* ------------------------------------------- M&M sections --------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: "Fustat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  background-color: #fcf7ea;
  color: #1a1a1a;
}

.announcement-bar {
  display: none !important;
}

.header__search {
  display: none !important;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 100vw;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

body {
  /* padding-top: 60px;  */
  padding-top: 0px;
}

/* When scrolling, change the header to a solid background */
.header.is-sticky {
  background-color: rgba(0, 0, 0, 0.9); /* Slight transparency */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.standard-button {
  border: 0 none;
  background-color: #f7ce48;
  border-radius: 100px;
  padding: 10px 20px;
  color: #1a1a1a;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.25em;
  font-weight: 600;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.standard-button:hover {
  color: #f7ce48;
  background-color: #1a1a1a;
}

h2 {
  margin: 0;
  font-size: 51px;
  line-height: 1.1em;
  font-weight: 800;
  text-transform: uppercase;
}

.text-highlight {
  background-color: #f7ce48;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 2px;
  text-transform: uppercase;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.header__menu-item {
  font-family: "Antarctican Headline";
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-columns: auto 150px 80px;
  }
}

/* custom footer ------------------------------------------------------------ */

/* Footer Styles */
.custom-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  background-color: #1a1a1a;
  color: #fff;
}

.footer-logo {
  flex: 1 100%;
  text-align: center;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 100%;
  height: auto;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  width: 100%;
  gap: 20px;
}

.footer-column {
  text-align: left;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.copyright-column {
  text-align: left;
  /* font-size: 14px;
  color: #bbb; */
}

.copyright-column,
.footer-column ul li a {
  color: #f7ce48;
  text-decoration: none;
  font-size: 14px;
  font-family: "Antarctican Headline";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-column p {
  margin-top: 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .footer-links {
    grid-template-columns: 1fr; /* Stack columns on mobile */
    gap: 20px;
  }

  .footer-column,
  .copyright-column {
    text-align: center;
  }
}

.main-contain {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/* home hero video ------------------------------------------------------------ */

.hero-video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  height: 100%;
  color: white;
}

.hero-header-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  max-width: 300px;
}

.hero-header-text h1 {
  color: white;
  font-family: "Fustat";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 50px;
  line-height: 1.15em;
  margin: 0;
}

.hero-subcontent {
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-align: left;
  max-width: 300px;
  font-weight: 100;
}

.hero-button {
  margin-top: 10px;
}

/* Mobile Layout */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-header-text {
    position: static;
    text-align: center;
    margin-bottom: auto;
  }

  .hero-subcontent {
    position: static;
    text-align: center;
    margin-top: auto;
  }
}

/* home featured products ------------------------------------------------------------ */
.home-featured-products {
  padding: 100px 40px;
  background-color: #fcf7ea;
}

.home-featured-products .header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.home-featured-products h2 {
  margin: 0;
}

.home-featured-products .shop-all-button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.home-featured-products .product-columns {
  display: flex;
  gap: 20px;
}

.home-featured-products .product-column {
  flex: 1;
  text-align: left;
}

.home-product-link {
  text-decoration: none;
  color: #1a1a1a;
}

.home-featured-products .home-featured-product-title {
  font-size: 28px;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

.home-featured-products .product-column img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.home-featured-products .product-columns p {
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.home-featured-products .feat-price {
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

/* Mobile Styles */
@media (max-width: 767px) {
  .home-featured-products .header-area {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-featured-products .product-columns {
    flex-direction: column;
  }
}

/* home snake section ------------------------------------------------------------  */

.snake-text-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.snake-text-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
  text-transform: uppercase;
}

.home-snake {
  /* border: 1px solid red; */
  position: absolute;
  top: 80px;
}

.snake-text-section .snake-image {
  flex: 1 1 50%;
}

.snake-text-section .text-content {
  flex: 1 1 50%;
}

.snake-text-section h2 {
  margin-bottom: 40px;
  max-width: 440px;
}

.snake-text-section p {
  margin: 0 0 10px;
  font-size: 16px;
}

.snake-text-section .highlight {
  background-color: yellow;
}

/* Mobile Styles */
@media (max-width: 767px) {
  .snake-text-section .container {
    flex-direction: column;
  }

  .snake-text-section .snake-image,
  .snake-text-section .text-content {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .home-snake {
    position: relative;
    top: auto;
  }
}

/* home madeof ------------------------------------------------------------ */

.madeof-section {
  padding: 100px 40px;
}

.madeof-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.madeof-header-left,
.madeof-header-right {
  flex: 1;
  text-transform: uppercase;
}

.madeof-header-left h2 {
  max-width: 360px;
}

.madeof-header-right {
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
}

.madeof-header-right h2 {
  color: #f7ce48;
  max-width: 360px;
  margin-left: auto;
}

.madeof-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  color: black;
}

.grid-number {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-text p {
  margin: 0;
}

/* Mobile Responsiveness */
@media (max-width: 767px) {
  .madeof-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .madeof-grid {
    grid-template-columns: 1fr;
  }
}

/* home breakfast chart ------------------------------------------------------------ */
.home-breakfast-chart-section {
  text-align: left;
  background-color: #fcf7ea;
  padding: 100px 40px;
  display: block;
}

.home-breakfast-chart-section h2 {
  margin-bottom: 64px;
}

.home-breakfast-chart-section .home-breakfast-chart-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .home-breakfast-chart-section {
    display: none;
  }
}

/* home email ------------------------------------------------------------ */

.home-email {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcf7ea;
  box-sizing: border-box;
  padding: 100px 40px;
}

.email-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100%;
  padding: 80px 40px;
  max-width: 1280px;
  background: #f7ce48;
  border-radius: 20px;
}

.email-title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.email-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
}

.email-content-container p {
  margin: 0;
  max-width: 390px;
  text-transform: uppercase;
}

.email-header {
  /* font-size: 34px;
  line-height: 1.1em;
  font-weight: 700; */
  margin: 0;
  text-transform: uppercase;
  /* padding-left: 40px; */
  /* max-width: 300px; */
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
  width: 100%;
}

.email-input {
  padding: 14px;
  padding-left: 0;
  font-size: 16px;
  border: 0 none;
  background-color: transparent;
  border-bottom: 1px solid #1a1a1a;
  margin-right: 10px;
  width: 300px;
}

.email-input::placeholder {
  color: #1a1a1a;
  opacity: 1;
}

.email-submit-button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #1a1a1a;
  color: #f7ce48;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.email-submit-button:hover {
  background-color: #333;
}

/* Media Queries */

/* Tablet devices (768px and smaller) */
@media (max-width: 900px) {
  .email-container {
    grid-template-columns: 1fr 1fr;
    padding: 80px 20px;
    margin: 0 20px;
  }

  .email-header {
    padding-left: 0;
    text-align: left;
    max-width: 800%;
  }

  .email-content-container {
    align-items: flex-start;
    text-align: left;
  }
}

/* Mobile devices (480px and smaller) */
@media (max-width: 768px) {
  .email-container {
    grid-template-columns: 1fr;
    padding: 40px 20px;
    position: relative;
    width: 100%;
    border-radius: 0px;
    margin: 0;
  }

  .email-header {
    font-size: 34px;
    text-align: left;
    margin-bottom: 24px;
  }

  .email-content-container {
    align-items: flex-start;
    text-align: left;
  }

  .email-content-container p {
    max-width: 100%;
  }

  .email-input {
    width: 100%;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    width: 100%;
  }

  .email-input {
    margin-bottom: 20px;
  }
}

/* bundle and save ------------------------------------------------------------ */

.bundle-and-save-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 40px;
}

.bundle-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-content,
.right-content {
  flex: 1;
  padding: 0px;
}

.right-content {
  text-align: center;
}

.bundle-form {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* .standard-button {
  background-color: #f7ce48;
  border-radius: 100px;
  padding: 10px 20px;
  color: #1a1a1a;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
} */

.add-to-cart {
  border: 0px;
  background-color: #f7ce48;
  border-radius: 100px;
  padding: 10px 20px;
  color: #1a1a1a;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.price-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sale-price {
  font-size: 18px;
  color: #1a1a1a;
}

.original-price {
  font-size: 16px;
  color: #1a1a1a;
  text-decoration: line-through;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .bundle-content {
    flex-direction: column;
  }

  .right-content {
    margin-bottom: 20px;
  }
}
