{% layout none %}  <!-- Optional: If you don't want the default layout -->

<div class="splash-page">
  <!-- Add your custom sections here -->
  {% section 'splash-hero' %}
  {% comment %} {% section 'splash-featured' %} {% endcomment %}
  {% section 'splash-footer' %}
</div>