{% layout none %}  <!-- Optional: If you don't want the default layout -->


<style>
  body {
    margin: 0;
    padding: 0;
    font-family: 'Fustat',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
</style>

<div class="splash-page">
  <!-- Add your custom sections here -->
  {% section 'splash-hero' %}
  {% section 'splash-mission' %}
  {% section 'splash-email' %}
  {% section 'splash-launch' %}
  {% section 'splash-social' %}
  {% section 'splash-footer' %}
</div>